body{
  font-family: 'EB Garamond', serif;
  background-image: url(https://i.imgur.com/WJOsQM6.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}

.container{
  margin-left: 40%;
  margin-top: 25%;

}

a{
  text-decoration: none;
  color: white;
  opacity: 0.5;
  text-align: center;
}

a:hover{
  color:white;
  opacity: 1;
  transition-timing-function: ease-in;
  transition: 2s;
}
