
body{
  font-family: 'EB Garamond', serif;
}

.container{
  font-size: 40pt;
  text-align: center;
  margin-top: 23%;
  -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 10s; /* Firefox < 16 */
       -ms-animation: fadein 10s; /* Internet Explorer */
        -o-animation: fadein 10s; /* Opera < 12.1 */
           animation: fadein 10s;
}

#video{
  width: 100%;
  z-index: -100;
  position: fixed;
  right:0;
  bottom:0;
  min-width: 100%;
  min-height: 100%;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;

}

a{
  text-decoration: none;
  color: white;

}

.text{
  opacity:0.75;
}

.text:hover{
  opacity:1;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .75; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .75; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .75; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .75; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .75; }
}
