body{
  font-family: 'EB Garamond', serif;
  font-size: 16pt;
}




.container{
  width:24%;
  color:white;
  margin-left: 70%;
  margin-top: 10%;
  z-index: 100;
  position: absolute;

}

.backgroundimg{
  z-index: -200;
  width: 100%;

}

.backgroundimg img{
  width:100%;

}

a{
  text-decoration: none;
  color: white;
  opacity: 0.75;
}

a:hover{
  color:white;
  opacity: 1;
  transition-timing-function: ease-in;
  transition: 1s;
}
