body{
  font-family: 'EB Garamond', serif;
  background-image: url(https://i.imgur.com/xq14eJe.gif);
  background-repeat: no-repeat;
  background-size: 100%;

}

.container{
  margin-left: 33%;
  margin-top: 25%;

}

a{
  text-decoration: none;
  color: white;
  opacity: 0.5;
  text-align: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
       -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
           animation: fadein 2s;
}

a:hover{
  color:white;
  opacity: 1;
  transition-timing-function: ease-in;
  transition: 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .5; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .5; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .5; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .5; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .5; }
}
