.container{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.container1{
  width:50%;
  height: 100%;
  background-color: black;
  color:white;
}

.container2{
  width:50%;
  background-color: white;
}

#video{
  width: 50%;
  position: fixed;
  right:0;
  bottom:0;
  min-width: 50%;
  min-height: 50%;
}

.word{
font-size: 90pt;
margin-left: 1%;
}

#you{
  margin-top: 20%;
  margin-left: 50%;
}

#are2{
  margin-left: 50%;
}

img{
  height: 20.85%;
  width:20.85%;
  margin-left: 8%;
  margin-top: 5%;
}

#small{
  height: 10%;
  width:10%;
}

#right{
  margin-left: 60%;
}
